.card{

     border: 5px solid rgb(255, 225, 2);
    background-color: rgb(3, 10, 112); 
    box-sizing: border-box;
    height: 495px;
    width: 432px;
    padding: 12px;
    position: relative;
    top: 40px;
    left: 40px;
    border-radius: 22px;
}
*{
    margin: 0;
    padding: 0;
}
.img{
padding: 1px;
}
   

.img img{
    border-radius: 17px;
}

.Capsole{
padding: 4px;
    
}
.Capsole span{   
    border-radius: 2px solid yellow;
   
    
    padding: 4px;
    font-size: 18px;
   
    border-radius: 10px;
    background-color: yellow;
    color: black;

}
.paragraph p{
    padding: 20px;
    font-size: 20px;
    color: goldenrod;
}

body{
    background-color: rgb(227, 216, 216);
}
.content h2{
    position: relative;
    top: 10px;
    color: goldenrod;
}
.Button1 button{
    position: relative;
    position: relative;
    top: 5px;
    left: 148px;
    background-color: yellow;
    border-radius: 10px;
    padding: 7px;
    color: black;
}



